@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hurry up for your next meal !!</h1>
    <div>
        <img src="~/Images/pizza.jpg" style="width:500px;height:400px;">
        <img src="~/Images/pizza2.jpg" style="width:500px;height:400px;" >



    </div>
    <p class="lead">Enjoy !! New deals every week – Place your order and sit and entertain the weekend </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Order Pizza Now..</h2>
        <p>

            If you, like everyone else in the world, can never say no to pizza, then this list is just what you’ve been looking for. Pizza, as we know, can help us through heartbreaks, make Netflix binges more delightful and also is just such a great dish to share with friends when you are hanging out together. Hence, it only makes sense for us to tell you where to get the best pizzas in Chennai because friends help friends find the best of the best.
            Read on. 
            You don't have to thank us.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Tuscana Pizzeria
        </h2>
        <p>
            This restaurant boasts a theme inspired by The Godfather, which in itself makes it attractive. 
            And then you take a look at their pizza offerings, and you’re sold. 
            They’ve got seafood pizzas, for those who are feeling adventurous, as well as dessert pizzas because those are now a thing and we love it! But if you’re a traditional pizza eater, don’t worry, we've got you covered because they have many options to choose from in that category as well. Give the Pollo E Pesto or the Peri Peri Veg a try, and you won’t be sorry. 
            Glutton for food? Try their Monster 30-inch pizzas!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Piccante</h2>
        <p>
            Ever craved a pizza but found it to be too much to finish it all by yourself?
            Head to Chicago Pizza which sells single slice pizzas from an 18-inch round piece with your favourite toppings.
            You could go for their non-veg overload, which features different kinds of spicy, meaty toppings or you could go for the simple old margarita. The place is mostly for take-away though, so you could grab a few slices to head home and enjoy the lot with your favourite episode of FRIENDS.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

  